<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>APIKEY</key>
	<string>$(APIKEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>SUIT-Bold.otf</string>
		<string>SUIT-ExtraBold.otf</string>
		<string>SUIT-Heavy.otf</string>
		<string>SUIT-Light.otf</string>
		<string>SUIT-Medium.otf</string>
		<string>SUIT-Regular.otf</string>
		<string>SUIT-SemiBold.otf</string>
		<string>SUIT-Thin.otf</string>
		<string>SUIT-ExtraLight.otf</string>
	</array>
</dict>
</plist>
